################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.orig
*.suo
*.user
/packages

/Michelin.Api/App_Data/*.svclog
Michelin.WebUI/config/config_dev.js

Michelin.WebUI/Michelin.Web.zip
/Michelin.Api.Email.Azure/csx
/Michelin.Api.Email.Azure/csx
/Michelin.Api.Email.Azure/rcf
/Nigh/**/.idea/
/Nigh/**/.tmp/

/Nigh/obj/
/Nigh/**/obj/



Michelin.Api/Properties/PublishProfiles
Michelin.WebUI/Properties/PublishProfiles

Michelin.Api/App_Data/MichelinData_v20.sqlite
Michelin.Api/App_Data/MichelinData_CostCo.sqlite
